body{
    margin: 5px;
}

h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(100, 200, 194);
    text-shadow: 2px 2px 2px black
}

article p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.logo{
    height: 200px;
    width: 200px;
}

nav{
    border-width: 3px;
    border-color: black;
    border-style: dashed;
    width: 100%;
    height: 300px;
    background-color: lightblue;
    background-image: url(./Media/laptop.png);
    background-repeat: no-repeat;
    background-position: right;
}

nav:hover{
    background-color: lightgoldenrodyellow
}
